<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-success" href="#">
    Alien-bit
    <!--    {{ serverTime | async }}-->
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/dashboard']"
          [routerLinkActive]="['active']"
        >
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/card']"
          [routerLinkActive]="['active']"
          >Card</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/ticker', 17]"
          [routerLinkActive]="['active']"
          >Ticker</a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          href="https://aliendev.firebaseapp.com/"
          target="_blank"
          >Contact-us</a
        >
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" (click)="openModalWithComponent()">Donate/บริจาค</a>
      </li> -->
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
